{% for project in site.data.index.projects %}
<!-- Modal -->
<div class="modal fade" id="{{project.i18n}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{project.name}}</h5>
                <img class="card-img-top" src="{{ project.img | prepend: site.baseurl }}" alt="Card image cap">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{project.modalDescription}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="container" id="i18_projects">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">My Projects</span></h1>
        </div>
    </div>
    <div class="row display-flex">
        {% for project in site.data.index.projects %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if forloop.last %}
        {% if forloop.last == forloop.first %}
        <div class="col-sm-6 wow col-sm-offset-3 zoomIn" >
            {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft col-sm-offset-3 {% else %} fadeInRight {% endif %}">
                {% endif %}
                {% else %}
                <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
                    {% endif %}
                    <div class="team-member">
                        {% if project.modalDescription %}
                        <!-- Button trigger modal -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="{{ project.img | prepend: site.baseurl }}" class="img-responsive img-circle img-small" alt="">
                                </div>
                                <div class="flip-card-back img-responsive img-circle img-small">
                                    <a  type="button" class="back-button" data-toggle="modal" data-target="#{{project.i18n}}Modal">
                                        <h1>More</h1>
                                    </a >
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <img src="{{ project.img | prepend: site.baseurl }}" class="img-responsive img-circle img-small" alt="">
                        {% endif %}
                        <h4>
                            {% if project.url %}
                            <a href="{{ project.url }}" target="_blank"><span class="navy">{{ project.name }}</span></a>
                            {% elsif project.repo %}
                            <a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}" target="_blank"><span class="navy">{{ project.name }}</span></a>
                            {% else %}
                            <span class="navy">{{ project.name }}</span>
                            {% endif %}
                        </h4>
                        <p><span data-i18n="projects.{{ project.i18n }}">{{ project.desc }}</span></p>
                        {% if project.repo %}
                        <div user="{{ project.gh_user }}" repo="{{ project.repo }}" class="ghbtn">
                            <a target="_blank" style="width: 65px;" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/stargazers" class="btn btn-white btn-xs star"><i class="fa fa-star"></i> ...</a>&emsp;&emsp;
                            <a target="_blank" style="width: 65px;" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/network" class="btn btn-white btn-xs fork"><i class="fa fa-code-fork"></i> ...</a>
                            <div style="height: 10px;"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        