<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="resume.des">{{ site.data.index.resume.desc }}</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn" id="i18_blog">
            <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="{{ "/static/pdf/C.V. Simon Roy 2023 - portfolio.pdf" | prepend: site.baseurl }}"><span data-i18n="blog.my_blog">Download</span></a>
            <div style="height: 80px;"></div>
        </div>
    </div>
</div>
